@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("//cdn.web-fonts.ge/fonts/bpg-algeti-compact/css/bpg-algeti-compact.min.css");

body {
    background-color: #F5F7F8;
    font-family: "BPG Algeti Compact", sans-serif;
}

.line {
    position: relative;
}

.line::after {
    position: absolute;
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    top: -10px;
    left: 0;

}